
.healthtips-hero-section {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("/banimg1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.healthtips-hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  
}



.healthtips-hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 0;
  
  
}

.healthtips-hero-section .container { 
  position: relative; 
  z-index: 1; 
}

.healthtips-hero-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
