@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

body, p, a, span, div, input, button, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-style: italic;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.navbar {
  background: teal;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
